@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
    font-family: 'Press Start 2P', cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tussen{
    background-color: white;
    height: 50px;
}

.linkjes{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
}

.linkjes > a{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    margin-right: 40px;
}

header{
    background-color: rgba(0, 0, 0, 0.277);
    height: 6vh;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

#navlink:hover {
    scale: 1.2;
}

.logo {
    height: 64px;
    position: absolute;
    border-bottom-right-radius: 500px;
}

::-webkit-scrollbar{
    display: none;
}

/* voor alle paginas hierboven de code */


.wkomtekst{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;
    font-size: 4vh;
    width: 60vw;
    height: 20vh;
}

.wkombox{
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: 5px 5px black;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    width: 60vw;
    height: 20vh;
    border-radius: 20px;
}
 
.background{
    position:relative;
    background-image: url(./backgrounds/boven.png);
    height: 100vh;
    color: white;
    z-index: -1;
    /* zorgt voor parallax effect */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}

.prjctbackground{
    background-image: url(./backgrounds/MicrosoftTeams-image\ \(9\).png);
    background-size: cover;
    height: 100vh;
    z-index: -1;
    background-attachment: fixed;
}
.prjctinhoud{
    color: white;
    position: absolute;
    top: 250%;
    left: 30%;
    transform:translate(-50%, -50%); 
    height: 20vh;
    width: 50vw;
    z-index: 2;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.277);
}

.prjcttekst{
    color: white;
    width: 50vw;
    height: 20vh;
}

.abtbackground{
    background-image: url(./backgrounds/MicrosoftTeams-image\ \(9\).png);
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    height: 100vh;
}

.abtbox{
    position: absolute;
    top: 150%;
    left: 75%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px black;
    background-color: rgba(0, 0, 0, 0.400);
    width: 45vw;
    height: 20vh;
    display: flex;
}

.abttekst{
    color: white;
    text-align: center;
    width: 50vw;
    height: 20vh;
}

.cv{
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 107%;
    left: 4%;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px black;
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 2;
    color: white;
    text-align: center;
}

.foto{
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 154%;
    left: 4%;
    box-shadow: 5px 5px black;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 2;
    color: white;
    text-align: center;
}

.ctbackground{
    background-image: url(./backgrounds/MicrosoftTeams-image\ \(9\).png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    height: 100vh;
}

.ctbox{
    position: absolute;
    top: 350%;
    left: 30%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.400);
    width: 50vw;
    height: 20vh;
    box-shadow: 5px 5px black;
}

.cttekst{
    width: 50vw;
    height: 20vh;
    color: white;
    text-align: center;
}

.cttekst > h1{
    font-size: xx-large;
}

.cme{
    font-size: xx-large;
}

.ctform{
    display: flex;
    position: absolute;
    backdrop-filter: blur(5px);
    text-align: center;
    color: white;
    top: 315%;
    left: 60%;
    background-color: rgba(0, 0, 0, 0.400);
    box-shadow: 5px 5px black;
    height: 75vh;
    width: 30vw;
    justify-content:center;
    flex-direction: column;
}

.inputm{
    margin-top: 2vh;
    background-color: transparent;
    
    color: white;
    
}

@media only screen and (max-width: 1298px) {
    .ctform{
        display: none;
    }
}

.contactform > input{
    border: 2px solid white;
    box-shadow: 5px 5px black;
    height: 2vh;
    text-align: center;
    width: 8vw;
}

.inputma{
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 5px 5px black;
    color: white;
    text-align: center;
}

.contactform > span{
    font-size: larger;
}

textarea:focus, input:focus{
    outline: none;
}

.formbutton{
    border: 2px solid white;
    height: 6vh;
    text-align: center;
    background-color: transparent;
    margin-top:1vh;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    text-align: center;
}

.formbutton:hover{
    scale: 1.05;
}


