/* pafico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&family=Special+Elite&display=swap');
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Special+Elite&display=swap');

html{
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    transition-duration: 3s;
    overflow-x: hidden;
    overflow-y: hidden;
}

*:focus{
    outline: none;
    cursor: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(242, 234, 243);
    font-family: 'Poppins', sans-serif;
}

.imghome{
    position: fixed;
    width: 57%;
    height: 80vh;
    border-bottom-right-radius: 100px;
    display: none;
    background-image: url(./photos/home.png);
    background-position: center;
}

.kom{
    animation: imghome 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes imghome{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
@keyframes imgcontact{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
@keyframes imgprojects{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
@keyframes imgabout{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

.imgcontact{
    position: fixed;
    border-bottom-right-radius: 100px;
    width: 57%;
    height: 80vh;
    display: none;
    background-image: url(./photos/home.png);
    background-position: center;
}

.imgprojects{
    position: fixed;
    width: 57%;
    height: 80vh;
    display: none;
    border-bottom-right-radius: 100px;
    background-color: aqua;
}

.imgabout{
    position: fixed;
    width: 57%;
    height: 80vh;
    display: none;
    border-bottom-right-radius: 100px;
    background-color: brown;
    
}

.topleft{
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
}

.topright{
    position: absolute;
    top: 0;
    left: 200%; 
    color: transparent;
}

.bottomleft{
    position: absolute;
    top: 200%;
    left: 0;
    color: transparent;
}

.bottomright{
    position: absolute;
    top: 200%;
    left: 200%;
    color: transparent;
}

.menutrigger{
    position: fixed;
    z-index: 100;
    top: 2%;
    left: 97%;
    width: 1.5%;
    transition: all 0.2s ease-in-out;
}

.menutrigger:hover{
    transform: scale(1.3);
    cursor: pointer;
    transform: rotate(180deg);
}

.menu{
    position: fixed;
    width: 50%;
    left: 65%;
    top: 28%;
    display: none;
    z-index: 100;
    transition: all 2s ease-in-out;
}

.menutxt{
    font-size: 300%;
}

.menu > button{
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Pacifico', cursive;
}

.menu > button:hover{
    transform: scale(1.3);
}

.slidein4{
    animation: menu 1s ease-in-out;
}

@keyframes menu{
    from{
        transform: translateY(150%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.button1, .button2, .button3{
    text-decoration: none;
    background-color: transparent;
    color: grey;
    border: none;
    transition: all .2s ease-in-out;
}

.hword{
    font-size: 600%;
}

.button1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

.button1:hover{
    .cursorcircle{
        width: 100vw;
        height: 100rem;
    }
}

.button2{
    position: absolute;
    top: 55%;
    left: 44%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

.button3{
    position: absolute;
    top: 55%;
    left: 56%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
}

.slidein1:hover{
    transform: scale(1.3);
}

.slidein1{
    animation: knoppenhome 1s ease-in-out;
}

@keyframes knoppenhome{
    from{
        transform: translateY(150%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.slidein2{
    animation: hword 1s ease-in-out;
}

@keyframes hword{
    from{
        transform: translateY(150%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

.container12{
    width: 200%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.page12{
    color: grey;
    width: 100vw;
}

.container34{
    width: 200%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.page34{
    width: 100vw;
}

.middenwoord{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: fit-content;   
    font-family: 'Pacifico', cursive;
}

.middenwoord2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

.slidein3{
    animation: middenwoord2 1s ease-in-out;
}

@keyframes middenwoord2{
    from{
        transform: translate(-50%,-50%); 
        transform: translateY(150%);
        opacity: 0;
    }to{
        transform: translate(-50%,-50%); 
        transform: translateY(0);
    }
}

.klein{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17%;
    height: 40%;
    position: relative;
    right: -65%;
    top: 15%;
    transition: all 0.5s ease-in;
    transform-origin: left;
}

form:hover{
    scale: 1.1;
}

form > input{
    width: 60%;
    margin-top: 2%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid black;
    color: grey;
}

form > textarea{
    width: 60%;
    margin-top: 2%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid black;
    color: grey;
}

form > span{
    margin-top: 2%;
}

.submit{
    cursor: pointer;
    margin-top: 6%;
    width: 20%;
}

.contacttxt{
    position: relative;
    top: 40%;
    left: 25%;
    right: 75%;
    transition: all 0.5s ease-in;
    cursor: default;
    width: fit-content;
}

.contacttxt:hover{
    scale: 1.1;
}







/* grainfilter */

.grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -300;
    transform: translateZ(0);
    
    &:before {
      content: "";
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      z-index: -9999;
      position: fixed;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
      opacity: 0.15;
      pointer-events: none;
      -webkit-animation: noise 1s steps(2) infinite;
      animation: noise 1s steps(2) infinite;
    }

    @-webkit-keyframes noise {
      to { transform: translate3d(-7rem,0,0) }
    }

    @keyframes noise {
      0% { transform: translate3d(0,9rem,0) }
      10% { transform: translate3d(-1rem,-4rem,0) }
      20% { transform: translate3d(-8rem,2rem,0) }
      30% { transform: translate3d(9rem,-9rem,0) }
      40% { transform: translate3d(-2rem,7rem,0) }
      50% { transform: translate3d(-9rem,-4rem,0) }
      60% { transform: translate3d(2rem,6rem,0) }
      70% { transform: translate3d(7rem,-8rem,0) }
      80% { transform: translate3d(-9rem,1rem,0) }
      90% { transform: translate3d(6rem,-5rem,0) }
      to { transform: translate3d(-7rem,0,0) }
    }
  }






/* optimization for phone */


@media only screen and (max-width: 600px) {

    .hword{
        font-size: 180%;
    }

    .middenwoord2{
        font-size: medium;
    }

    .button1{
        font-size: x-small;
        left: 50%;
    }

    .button2{
        font-size: x-small;
        left: 25%;
    }

    .button3{
        font-size: x-small;
        left: 75%;
    }

    .menutrigger{
        left: 76%;
        width: 4%;
    }

    .groot{
        display: none;
    }

    .klein{
        display: block;
    }

    .contacttxt{
        top: 3%;
        width: 50%;
        height: fit-content;
    }

    .page34{
        scale: 0.7;
    }

    form{
        right: -25%;
        width: 60%;
    }

    form > input{
        width: 100%;
    }
}